#companyName {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#welcomeText {
    font-size: 25px;
}

#welcomeButton {
   margin:25px 0px 0px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h2 {
    padding-bottom: 15px;
}

.section-header h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

#mainNav .nav-link.active:hover {
    color: yellow;
}

#mainNav .nav-link.active {
    color: yellow;
    background-color: rgba(0, 0, 255, 0);
}

#mainNav a:hover {
    color: yellow;
}

#teamMember {
    background-size: cover;
}

.icon-bar {
    visibility: visible;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

#catImg {
    border-radius: 50%;
    animation-name: catRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes catRotate {
    0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(60deg);
    }
    70% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.fill {
    object-fit: fill;
}

/*
video { 
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -100;
    width: 100%;
    height: 100%;

    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
*/

.masthead .container {

    width: 100%;
    margin: auto;
    align-self: center;
    
}
#helloSect {
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
.masthead {
   background-image: url("../img/metal-bg.jpg");
   height: 100%;
    z-index: -1;
    display: flex;
}

.masthead .intro-body {
    display: flex;
    /* vertical-align: middle; */
    /* justify-content: center; */
    margin: auto auto;
    width: 100%;
}
#canvasX {
    z-index: -1;
    position:absolute;
    min-width: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}


/*override animated class from animate.css  https://github.com/daneden/animate.css
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;*/
.aboutContent {
   visibility: hidden;
}
.serviceContent {
   visibility: hidden;
}

#contactAnimate {
    visibility: hidden;
}

#serviceAnimate {
    visibility: hidden;
}

#aboutAnimate {
  visibility: hidden;
}

#factsAnimate{
    visibility: hidden;
    padding-top: 80px;
}

#ourteamAnimate {
  visibility: hidden;
    margin: 20px 0px;
}

.rowImage {
    height: 300px;
}
.processImg {
    border-radius: 10%;
    width: 80%;
    height: 80%;
    position: absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
}

.processText {
    margin-top: 10px;
    text-align:center;
    position: inherit;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
   
}

.serviceText {
    text-align:center;

}
.backcoverText {
        font-size: 13px;
}

.iconService{
    float:left;
    margin: 5px 0px;
}



@media screen and (max-width: 991px){
    .processImg {
        height: 100%;
        width: 70%;
    }
    
    .card-imagia .user-imagia {
        width: 100%;
    }
    .card-imagia .user-imagia img {
        width: 70%;
        height: 80%
    }
    
    .backcoverText {
        font-size: 11px;
    }
    
    .processText {
        font-size: 14px;
         top: 10%;
         left:50%;
         transform: translate(-50%,-10%);
    }
    
    #companyName {
    font-size: 40px;
    }
    
    #welcomeText {
        font-size: 20px;
    }
    
    .rowImage {
        height: 400px;
    }
    #imageAbout {
        height:220px;
    }
    #textAbout {
        height: 180px;
    }
    .cardResize {
        padding-right: 50px;
        padding-left: 50px;
    }
}

#parallax {
    padding: 0px;
}

.counter{
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: 2px 2px 4px #000;
}

.mapInfo {
    color:black;
}
